body{
    font-family: 'Montserrat', sans-serif;
    background-color:#F0FFFF;
}

#header-div{
    background-color: #4E78A0;
    height: 100px;
}

#header-div h1{
    text-align: center;
    color: #FFC469;
    padding-top: 1%;
}

#search-div h4{
    padding-top: 10px;
}

#cityBtnGroup-div{
    width: 100%;
}

#current-div{
    border: solid 1px black;
    margin-top: 20px;
    border-radius: 10px;
}

#current-div h2{
    padding-top: 20px;
    padding-left: 20px;
    font-weight: bold;
}

#current-div p{
    padding-left: 20px;
}